# Gitleaks configuration
title = "[[ .project_name ]] Gitleaks Config"

[extend]
useDefault = true

[allowlist]
paths = [
  '''.pre-commit-config.yaml''',
  '''\.example$''',
  '''\.md$''',
]

regexes = [
  '''CHANGE_ME''',
  '''change-me''',
  '''your-.*-here''',
  '''xxxx''',
  '''example\.com''',
  '''localhost''',
]
