apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
[[ if .loki ]]
  - name: Loki
    orgId: 1
[[ end ]]
[[ if .tempo ]]
  - name: Tempo
    orgId: 1
[[ end ]]

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
[[ if .loki ]]

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
[[ if .tempo ]]
      derivedFields:
        - name: TraceID
          matcherRegex: '"trace_id":"([a-f0-9]+)"'
          url: '$${__value.raw}'
          datasourceUid: tempo
[[ end ]]
[[ end ]]
[[ if .tempo ]]

  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo:3200
    editable: false
    jsonData:
[[ if .loki ]]
      tracesToLogsV2:
        datasourceUid: loki
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: false
[[ end ]]
      tracesToMetrics:
        datasourceUid: prometheus
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
[[ if .loki ]]
      lokiSearch:
        datasourceUid: loki
[[ end ]]
[[ end ]]
